@model TicketSystem.Models.Index.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
</div>


<table>
    <tr>
        <th>Username</th>
        <th>Phone Number</th>
        <th>Credits</th>
        <th>Send Credits</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.PhoneNumber</td>
            <td>@user.Credits</td>
            <td class="btn btn-info"><a asp-controller="Home" asp-action="SendGreeting" 
                                        asp-route-senderUsername="@this.User.Identity.Name"
                                        asp-route-receiverUsername="@user.UserName">Greet</a></td>
        </tr>
    }
</table>
